@charset "UTF-8";

*{  
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}
body {
    background-image: linear-gradient(to right,#B8E0DB,#EBECE6);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(155, 80, 134, 0.534);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #D971BC;
    text-align: center;
    text-shadow: 1px 1px 2px #773e6749;
}
h2{
    color: #E6B2BC;
}
p{
    text-align: justify;

}